*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.nav-list{
  width: 1024px;
  margin: 0 auto;
}

.logo{
  width: 140px;
  height: 70px;
  background-size: cover;
  list-style: none;
  display: inline-block;
  float: left;
  background-image: url(img/logo.png);
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  float: right;
  padding: 25px 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual > h1{
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
  text-align: center;
}

.main-visual > p{
  font-size: 20px;
  color: #FAFAFA;
  padding-top: 10px;
  text-align: center;
}

.portfolio{
  width: 100%;
  background-color: #ECEFF1;
}

.portfolio > h1{
  font-size: 32px;
  color: #000;
  text-align: center;
  padding-top: 90px;
}

.portfolio > .p-line{
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto;
}

.portfolio > p{
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 30px 0;
}

.p-visual{
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.p-visual-box{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.p-visual-box:nth-child(1){
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.p-visual-box:nth-child(2){
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.p-visual-box:nth-child(3){
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.p-visual-box:nth-child(4){
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.p-visual-box:nth-child(5){
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.p-visual-box:nth-child(6){
  background-image: url(img/webcamp-mother.png);
}

.feature{
  width: 100%;
  padding-bottom: 90px;

}

.feature > h1{
  font-size: 32px;
  color: #000;
  text-align: center;
  padding-top: 90px;
}

.feature > .f-line{
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto;
}

.feature > p{
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 30px 0;
}

.feature-s{
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.strength{
  width: 320px;
}

.strength > i{
  font-size: 60px;
  width: 320px;
  text-align: center;
}

.strength > h2{
  font-size: 20px;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

.strength > p{
  font-size: 16px;
  color: #000;
}

.strength:nth-child(2){
  margin: 0 10px;
}

.profile{
  width: 100%;
  background-color: #ECEFF1;
}

.profile > h1{
  font-size: 32px;
  color: #000;
  text-align: center;
  padding-top: 90px;
}

.profile > .pr-line{
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto;
}

.profile > p{
  font-size: 16px;
  color: #000;
  text-align: center;
  padding-top: 30px;
}

.main-profile{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.profile-icon{
  width: 512px;
  padding-top: 30px;
}

.p-image{
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius:50%;
}

.profile-text{
  width: 512px;
  padding-top: 30px;
  padding-bottom: 90px;
}

.profile-text h2{
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-text p{
  font-size: 16px;
  color: #000;
}

.myname{
  padding-bottom: 20px;
}